[Desktop Entry]
Name=Metroid Remote Support
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=metroid-rs %u
Icon=metroid-rs
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;remote-desktop;
Actions=new-window;
StartupWMClass=metroid-rs

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=metroid-rs %u
